body, html {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}
canvas {
	position: absolute;
	z-index: 1;
}

.fade {
    -webkit-transition: opacity .15s ease-in-out;
    -moz-transition: opacity .15s ease-in-out;
    -ms-transition: opacity .15s ease-in-out;
    -o-transition: opacity .15s ease-in-out;
}

.menu-button {
	display: inline-block;
	margin-bottom: 20px;
	background-color: #5FAF64;
	color: #fff;
	font-weight: bold;
	font-family: "Merriweather", serif;
	font-size: 2em;
	padding: 20px;
	border-radius: 7px;
	cursor: pointer;
	text-decoration: none;
}
.menu-button:hover {
	background-color: #87D170;
}

#game-wrapper {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 600px;
	height: 600px;
	border: 1px solid #444;
	background-image: url(images/Background.png);
	background-position: -30px 0px;
	z-index: 2;
}

#menu {
	background-color: rgba(50, 50, 0, 0.2);
	height: 100%;
	text-align: center;
	opacity: 1;
	z-index: 3;
}
#menu.fade {
	opacity: 0;
}

#play {
	margin-top: 140px;
}

#game-canvas {
	opacity: 0;
}
#game-canvas.fade {
	opacity: 1;
}

#options-menu {
	position: absolute;
	top: 50px;
	left: 0px;
	z-index: 4;
	display: none;
	width: 598px;
	height: 380px;
	text-align: center;
	background-color: #5FAF64;
	color: #fff;
	font-weight: bold;
	font-family: "Merriweather", serif;
	border-radius: 7px;
	font-size: 2em;
	border: 1px solid #050;
	padding-top: 20px;
}

.option-control {
	display: inline-block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}
.option-control * {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
}

.option-ticker {
	font-family: "Courier New", Courier, monospace;
	display: inline-block;
	width: 25px;
	cursor: pointer;
	border-radius: 7px;
}
.option-ticker:hover {
	background-color: rgba(0, 100, 200, 0.25);
	color: #fed;
}
.option-ticker:active {
    color: #c50;
    background-color: rgba(0, 50, 200, 0.25);
}

#volume-control {
	width: 130px;
}

#volume-value {
	display: inline-block;
	width: 60px;
}

#options-close {
	font-size: 0.8em;
	position: absolute;
	bottom: 0px;
	left: 244px;
}